1. Create a pandas dataframe (DataFrame name as 'df') (10 observation and 5 features)

In [9]:
import pandas as pd

In [10]:
df1 = {'Age': [25, 32, 45, 19, 55, 38, 27, 62, 29, 40],'Income': [50000, 75000, 60000, 30000, 85000, 70000, 55000, 95000, 62000, 80000],'Gender': ['Male', 'Female', 'Male', 'Female', 'Male', 'Male', 'Female', 'Male', 'Female', 'Male'],'Education_Level': ['Bachelor', 'Master', 'PhD', 'Bachelor', 'Master', 'Bachelor', 'Master', 'PhD', 'Bachelor', 'PhD'],'Marital_Status': ['Married', 'Single', 'Married', 'Single', 'Married', 'Single', 'Married', 'Married', 'Single', 'Single']}
df1

{'Age': [25, 32, 45, 19, 55, 38, 27, 62, 29, 40],
 'Income': [50000,
  75000,
  60000,
  30000,
  85000,
  70000,
  55000,
  95000,
  62000,
  80000],
 'Gender': ['Male',
  'Female',
  'Male',
  'Female',
  'Male',
  'Male',
  'Female',
  'Male',
  'Female',
  'Male'],
 'Education_Level': ['Bachelor',
  'Master',
  'PhD',
  'Bachelor',
  'Master',
  'Bachelor',
  'Master',
  'PhD',
  'Bachelor',
  'PhD'],
 'Marital_Status': ['Married',
  'Single',
  'Married',
  'Single',
  'Married',
  'Single',
  'Married',
  'Married',
  'Single',
  'Single']}

In [11]:
df=pd.DataFrame(df1)
df

   Age  Income  Gender Education_Level Marital_Status
0   25   50000    Male        Bachelor        Married
1   32   75000  Female          Master         Single
2   45   60000    Male             PhD        Married
3   19   30000  Female        Bachelor         Single
4   55   85000    Male          Master        Married
5   38   70000    Male        Bachelor         Single
6   27   55000  Female          Master        Married
7   62   95000    Male             PhD        Married
8   29   62000  Female        Bachelor         Single
9   40   80000    Male             PhD         Single

2. Check the info of 'df'

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Age              10 non-null     int64
 1   Income           10 non-null     int64
 2   Gender           10 non-null     object
 3   Education_Level  10 non-null     object
 4   Marital_Status   10 non-null     object
dtypes: int64(2), object(3)
memory usage: 528.0+ bytes

3. Check the descriptive statistics of 'df'

In [14]:
df.describe()

             Age       Income
count  10.000000     10.00000
mean   37.200000  66200.00000
std    13.660974  18913.83973
min    19.000000  30000.00000
25%    27.500000  56250.00000
50%    35.000000  66000.00000
75%    43.750000  78750.00000
max    62.000000  95000.00000

4. check the 4th index observation with 'loc' slicing operator.

In [15]:
df.loc[4]

Age                     55
Income               85000
Gender                Male
Education_Level     Master
Marital_Status     Married
Name: 4, dtype: object

5. Check the null values in your 'df'

In [18]:
df.isnull().sum()

Age                0
Income             0
Gender             0
Education_Level    0
Marital_Status     0
dtype: int64

In [17]:
df.isnull().any()

Age                False
Income             False
Gender             False
Education_Level    False
Marital_Status     False
dtype: bool